<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>PLAYLIST</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">
                    <img src="/img/logoblue.png" alt="Logo blue">
                </a></li>

            <li><a href="/">
                    <i class="bi bi-box-arrow-right"></i>
                </a></li>
        </ul>
    </nav>

    <section id="addForm">
        <h1>Register a new music</h1>

        <form action="/create" method="post">
            <label for="name">
                Music name:
                <input type="text" name="name" id="name" required>
            </label>

            <label for="author">
                Author name:
                <input type="text" name="author" id="author" required>
            </label>

            <label for="linkImage">
                Link of image:
                <input type="text" name="linkImage" id="linkImage" required>
            </label>

            <label for="linkMusic">
                Link of music:
                <input type="text" name="linkMusic" id="linkMusic" required>
            </label>


            <button type="submit">Send</button>
        </form>
    </section>

    <section id="player">
        <h1>Manage your playlist</h1>

        <div class="content">
            <table>
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    <% playlist.forEach((music)=> { %>
                        <tr class="musics">
                            <td>
                                <img src="<%= music.linkImage %>" alt="Image of music">
                            </td>

                            <td>
                                <%= music.name %>
                            </td>

                            <td>
                                <%= music.author %>
                            </td>

                            <td id="actions">
                                <a class="edit" href="/by/<%= music._id %>/edit">Edit</a>
                                <a class="del" href="/by/<%= music._id %>/delete">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <% if (music !=null) { %>
        <section id="modal">
            <div id="card">
                <a id="close-modal" href="/admin">
                    <i class="bi bi-x-lg"></i>
                </a>

                <h2>Music Edit</h2>

                <hr>

                <form id="form-modal" method="post" action="/update/<%= music._id %>">
                    <label for="name">
                        Music name:
                        <input type="text" name="name" id="name" required value="<%= music.name %>">
                    </label>

                    <label for="author">
                        Author name:
                        <input type="text" name="author" id="author" required value="<%= music.author %>">
                    </label>

                    <label for="linkImage">
                        Link of image:
                        <input type="text" name="linkImage" id="linkImage" value="<%= music.linkImage %>">
                    </label>

                    <label for="linkMusic">
                        Link of music:
                        <input type="text" name="linkMusic" id="linkMusic" required value="<%= music.linkMusic %>">
                    </label>


                    <button type="submit">Update</button>
                </form>
            </div>

        </section>
        <% } %>

        <% if (musicDel !=null) { %>
            <section id="modal">
                <div id="card">
                    <a id="close-modal" href="/admin">
                        <i class="bi bi-x-lg"></i>
                    </a>
    
                    <h2>Confirmation</h2>
                    <hr>
                    <p>Do you wish delete this song: <%= musicDel.name %>?</p>
    
                    <div class="btn_confirmations">
                        <a class="edit" href="/admin">No</a>
                        <a class="del" href="/delete/<%= musicDel._id %>">Yes</a>
                    </div>
                </div>
            </section>
        <% } %>
</body>

</html>